<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SketchUpReboot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="IBM.Data.DB2" type="IBM.Data.DB2.EntityFramework.DB2ProviderServices, IBM.Data.DB2.EntityFramework, Version=10.5.5.6, Culture=neutral, PublicKeyToken=7c307b91aa13d208" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="LairhavenCatchallEntities" connectionString="metadata=res://*/SketchData.csdl|res://*/SketchData.ssdl|res://*/SketchData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:lairhaven.database.windows.net;initial catalog=LairhavenCatchall;persist security info=True;user id=joeymorgan2012@lairhaven;password=Na1smith;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="SketchEntities" connectionString="metadata=res://*/SketchData.csdl|res://*/SketchData.ssdl|res://*/SketchData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MILES;initial catalog=CAMRA_MART;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="SketchUpReboot.Properties.Settings.CAMRA_MARTConnectionString"
      connectionString="Data Source=MILES;Initial Catalog=CAMRA_MART;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <SketchUpReboot.Properties.Settings>
      <setting name="IPAddress" serializeAs="String">
        <value>192.168.176.241</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>CAMRA2</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>CAMRA2</value>
      </setting>
      <setting name="Library" serializeAs="String">
        <value>NATIVE</value>
      </setting>
      <setting name="Locality" serializeAs="String">
        <value>AUG</value>
      </setting>
      <setting name="LocalityName" serializeAs="String">
        <value>Augusta County</value>
      </setting>
    </SketchUpReboot.Properties.Settings>
  </userSettings>
</configuration>