<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SketchUp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<userSettings>
		<SketchUp.Properties.Settings>
			<setting name="IPAddress" serializeAs="String">
				<value>192.168.176.241</value>
			</setting>
			<setting name="PicturePath" serializeAs="String">
				<value>p:\picture-files</value>
			</setting>
			<setting name="currentVersion" serializeAs="String">
				<value>1.0.0.5</value>
			</setting>
		</SketchUp.Properties.Settings>
	</userSettings>
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="SketchUpListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="application.log" />
				<remove name="Default" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>